body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container{  
   width: 40em;
   height: 40em;
   display: grid;
   grid-template-columns: repeat(16, auto);
   grid-template-rows: repeat(16, auto);
   
};


